/* Top Navigation */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgb(170, 183, 230);
    width: 100%;

    ul {
        display: flex;
        gap: 6rem;
        padding-right: 2rem;
        align-items: center;
        list-style: none;
    }

    a {
        transition: all .3s ease-out;
    }

    a:hover {
        transition: all .3s ease-out;
        color:pink;
    }

    .button a:hover {
            transition: all .3s ease-out;
            color: pink;
    }
}

.logo {
    max-width: 12vw;
}

li {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-transform: uppercase;
    padding-right: 1rem;
}

p {
    font-family: circe regular;
}
h2 {
    font-family: circe bold;
}

/* Top Navigation END */